*.py[co]
__pycache__
*.spec
.*.sw[o-z]
MANIFEST
dist/
build/
automation-build/
exported-artifacts/
.idea
logs*
mock*
docs/ovirtlago.rst
docs/lago.rst
docs/lago.plugins.rst
docs/lago_template_repo.rst
docs/_build/
docs/_static/ChangeLog.txt
*ChangeLog
rpmbuild
lago.egg-info
AUTHORS
*/*venv
.bash*
.cache*
.coverage
.eggs/
.tox/
coverage.xml
flake8.txt
htmlcov/
tags
cscope.out
lago.junit.xml
lago_ovirt.egg-info/
